<!DOCTYPE html>
<script>
    sid = "<%= sid %>" + Math.random();
</script>
<script type="module" src="/javascripts/homePowerStatus.js"></script>


<link rel="stylesheet" href="./stylesheets/test.css">
<link rel="stylesheet" href="./stylesheets/main.css">

<head>
    <title>Ted5000</title>
    <link rel="icon" href="./images/favicon.ico" type="image/ico" sizes="16x16">
</head>


<%- include("theme/"+userDocument.preferences.webTheme+"/header.ejs") %>
<!-- line below is commented out-->
<% include leftMenu.ejs %>

<div class="outer">

    Unit Info
    <br>

</div>

<div class="unitInfo" id="unitInfo">


</div>
<canvas id="powerGaugeCanvas" width="1000" height="100" style="border:1px solid #000000;">

</canvas>
<canvas id="secondGraph" width="1000" height="500" style="border:1px solid #000000;">


</canvas>

</body>



