<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="./stylesheets/nav.css">

</head>

<body>

    <div id="mySidenav" class="sidenav">
        <p class="menu" >Menu</p>
        <a href="#"  class="closebtn" onclick="closeNav()">&times;</a>
        <a href="./">CS6&nbsp;View</a>
        <a href="#">Version</a>
        <a href="#">Upload&nbsp;Show</a>
        <a href="#">Update&nbsp;Units</a>
        <a href="./localSettings">Settings</a>
        <a href="./login">Log&nbsp;Out</a>
    </div>



</body>
</html>
