<!DOCTYPE html>
<%- include("varsToJavascript.ejs") %>

<script type="module" src="/javascripts/webLogs.js"></script>
<link rel="stylesheet" href="./stylesheets/test.css">
<link rel="stylesheet" href="./stylesheets/main.css">

<head>
    <title><%= pageName %></title>
    <link rel="icon" href="./images/favicon.ico" type="image/ico" sizes="16x16">
</head>


<%- include("theme/"+javascript.userDocument.preferences.webTheme+"/header.ejs") %>
<!-- line below is commented out-->
<% include leftMenu.ejs %>

<div class="outer">

    Web Session History
    <hr>

</div>

<div>
    <button id='sessionNextRecords'><- Next</button>
    <button id='sessionPrevRecords'>Prev -></button>

    <table id = "sessionInfoTable" width='100%'>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col>
            <col style="width: 50px;">
        </colgroup>
        <thead>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Last Page</th>
            <th>Pages</th>
        </tr>

        </thead>
    </table>
</div>
<hr>
<div style="width:100%;height: 600px;overflow:auto">
    <button id='requestLogNextRecords'><- Next</button>
    <button id='requestLogPrevRecords'>Prev -></button>
    <table id='requestLogTable' width='100%'>
        <colgroup>
            <col style="width: 120px;">
            <col style="width: 200px;">
            <col style="width: 150px;">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>Time</th>
            <th>Page</th>
            <th>User</th>
            <th>IPAddress</th>
        </tr>
        <tr id = 'filterButtons'>
            <th><button id="filterReset">Filter Reset</button></th>
            <th><button id="filterPage">Filter Page</button></th>
            <th><button id="filterUser">Filter User</button></th>
            <th><button id="filterIpAddress">Filter IP Address</button></th>

            <th><button id="filterActive">Filter Active</button></th>
            <th><button id="filterPageNotFound">Filter Page Not Found</button></th>
            <th><button id="filterNotAuthorized">Filter Not Authorized</button></th>
        </tr>

        </thead>

    </table>


</div>
</body>



