<!DOCTYPE html>
<%- include("varsToJavascript.ejs") %>

<script type="module" src="/javascripts/webLogs.js"></script>
<link rel="stylesheet" href="./stylesheets/test.css">
<link rel="stylesheet" href="./stylesheets/main.css">

<head>
    <title><%= pageName %></title>
    <link rel="icon" href="./images/favicon.ico" type="image/ico" sizes="16x16">
</head>


<%- include("theme/"+javascript.userDocument.preferences.webTheme+"/header.ejs") %>
<!-- line below is commented out-->
<% include leftMenu.ejs %>

<div class="outer">

    Web Session History
    <hr>

</div>

<div >
    <button id = 'sessionNextRecords'><- Next </button>
    <button id = 'sessionPrevRecords'>Prev -></button>

    <table width='100%'>
        <colgroup>
            <col  style="width: 100px;">
            <col  style="width: 100px;">
            <col >
            <col  style="width: 50px;">
        </colgroup>
        <tbody id="sessionInfoTableBody"></tbody>
    </table>
</div>
<hr>
<div style ="width:100%;height: 500px;overflow:auto">
    <button id = 'requestLogNextRecords'><- Next </button>
    <button id = 'requestLogPrevRecords'>Prev -></button>


    <table width='100%'>
        <colgroup>
            <col  style="width: 120px;">
            <col  style="width: 100px;">

            <col  style="width: 150px;">
            <col >

        </colgroup>
        <tbody id="requestLogTableBody"></tbody>
    </table>


</div>
</body>



