
<head>
    <link rel="stylesheet" href="./stylesheets/header.css">
</head>

<div class="top">
    <hr id="topLine">
    <img  id="hamburger" <%=((typeof noMenu === 'boolean' && noMenu == true)?'style=visibility:hidden':'')%> onclick="openNav()" src="images/hamburger.png">
    <img id="logo"  src="./images/sailogo.png">
    <p id="title">Master Control</p>
    <p id="pagename"> <%=pageName%></p>
    <br>
    <hr id="bottomLine">
</div  >

